body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    padding: 20px;
}

h2 {
    color: #333;
    text-align: center;
}


.box {
    background: white;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


input,
button {
    padding: 10px;
    margin-top: 8px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

button {
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    transition: 0.2s;
     padding: 10px;
    margin-top: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

button:hover {
    background-color: #1d4ed8;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    background: #f9fafb;
    border: 1px solid #e5e7eb;
    padding: 8px 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.filter-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.filter-btns button {
    width: 24%;
    font-size: 13px;
}